.temperatureAndDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.weather {
    color: lightcyan;
    font-size: 1.25rem;
}

.details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.details img {
    width: 50px;
    height: auto;
}