.timeAndLocation {
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dateTime {
  font-size: var(--font-size-large);
  font-weight: 200;
}

.city {
  font-size: 30px;
  font-weight: 500;
}

@media  screen and (max-width: 750px) {
  .dateTime {
    font-size: var(--font-size-medium);
    font-weight: 300;
  }

  .city {
    font-size: 25px;
  }
}