:root {
  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-size-large: 20px;
}

.App {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 768px;
  margin: auto;
  margin-top: 16px;
  padding: 40px 128px;
  background: linear-gradient(
    to bottom right,
    rgb(50, 50, 50),
    rgba(50, 50, 50, 0.9)
  );
  height: fit-content;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

button {
  background: none;
  border: none;
  color: white;
}

.icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.1s ease-out;
}

.icon:hover {
  transform: scale(1.1);
}

.message {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  opacity: 0;
  text-align: center;
  font-size: var(--font-size-large);
  transition: height 1s ease-out, opacity 1s ease-out;
}

.message.show {
  height: 50vh;
  opacity: 1;
}

@media screen and (max-width: 800px) {
  .App {
    padding: 40px 100px;
  }
}

@media screen and (max-width: 750px) {
  .App {
    padding: 40px 70px;
  }
}

@media screen and (max-width: 600px) {
  .App {
    padding: 40px 20px;
  }
}

@media screen and (max-width: 500px) {
  .icon {
    height: 20px;
    width: 20px;
  }
}
